page-cadastro {
  .input {
    color: white;
    width: 100%;
    background-color: transparent;
  }
  .inputAcesso {
    width: 80%;
    background-color: transparent;
  }
  .cadastro {
    width: 80%;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(79, 58, 216);
    border: 2px solid #ffbe55;
    font-size: 120%;
  }
}
