page-principal {
  .editCard {
    border-radius: 15px;
    height: 120px;
    width: 90%;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
