page-resumo {
  .back-button.show-back-button {
    margin-bottom: -72px;
    display: block;
  }
  .setas {
    background-color: white;
    color: #5940d2;
    border-radius: 10px;
    padding: 25px;
  }
  .editCard {
    border-radius: 15px;
  }
  .inforCard {
    color: #6d6d6d;
  }
}
